{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <section class="theRegister">
        <div class="container">
            <div class="form-wrapper">
                {% if app.user %}
                    <div class="hello-user">
                        <span>Bonjour {{ app.user.username }}, vous êtes déjà connecter.</span>
                        <span> <a href="{{ path('home') }}">Retourner à l'accueil</a></span>
                        <span> <a href="{{ path('app_logout') }}">Se déconnecter</a></span>
                    </div>
                {% endif %}
                <h1 class="register-title">S’inscrire avec un e-mail</h1>
                {{ form_start(form) }}
                {{ form_rest(form) }}
                <button type="submit" class="btn">Inscription</button>
                {{ form_end(form) }}
                <div class="agreeterm">
                    <p>*Champs obligatoires</p>
                    <p>Vous êtes déjà inscrit ? <a href="{{ path('app_login') }}" class="bold center">Connexion</a></p>
                    <p>En cliquant sur inscription, je confirme que j’ai lu et accepté
                        <a href="#">les conditions d’utilisation</a> de Top 5, la politique de confidentialité
                        et recevoir des courriels et des mises à jour. </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
