<header>

        {#<div class="logo">
            <a href="{{ path('home') }}"><img src="{{asset('/images/LogoTops5.png')}}" alt="logo"/></a>
        </div>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="{{path('front_tops_index')}}">Tous les Tops</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Les catégories</a>
               {# <a class="nav-link" href="{{ path('front_categories_index') }}">Les catégories</a>#}

           {# </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Les Topers</a>
               {# <a class="nav-link" href="{{ path('front_topers_index') }}">Les Topers</a>#}

            {#</li>
            <li class="nav-item">
                <a class="btn-lightconnect" href="#">Connexion</a>
                {#<a class="btn-lightconnect" href="{{ path('app_login') }}">Connexion</a>#}
            {#</li>
            <li class="nav-item">
                <a id="last"><i class="fas fa-plus-square" id="add" href="#"></i></a>
            </li>
        </ul>
    </div>#}
    <div class="logo">
        <a href="{{ path('home') }}" class="nav-icon" aria-label="visit homepage" aria-current="page">
            <img src="{{asset('build/images/logos/LogoTop5Orange.png')}}" alt="logo"/>
        </a>
    </div>
        {#<nav>
            <a href="{{ path('home') }}" class="nav-icon" aria-label="visit homepage" aria-current="page">
                <img src="{{asset('build/images/logos/LogoTop5Orange.png')}}" alt="logo"/>
            </a>

            <div class="main-navlinks">
                <button class="hamburger" type="button" aria-label="Toggle navigation" aria-expanded="false">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>#}
{#                <div class="navlinks-container">
                    <a class="nav-link active" href="{{path('front_tops_index')}}">Tous les Tops</a>
                    <a class="nav-link" href="#">Les catégories</a>#}
                    {# <a class="nav-link" href="{{ path('front_categories_index') }}">Les catégories</a>#}
{#                    <a class="nav-link" href="#">Les Topers</a>
                    #}{# <a class="nav-link" href="{{ path('front_topers_index') }}">Les Topers</a>#}{#
                    #}{#<a class="btn-lightconnect" href="#">Connexion</a>#}{#
                    #}{#<a class="btn-lightconnect" href="{{ path('app_login') }}">Connexion</a>#}{#
                    #}{#<a id="last"><i class="fas fa-plus-square" id="add" href="#"></i></a>#}{#
                </div>
            </div>#}

{#            <div class="nav-authentication">
                <a href="#" class="sign-user" aria-label="Sign in page">
                    <img src="ressources/user.svg" alt="user-icon">
                </a>
                <div class="sign-btns">
                    <button type="button" ><a href="#">Connexion</a></button>
                    <button type="button" class="btn add"><a><i class="fas fa-plus-square" id="add" href="#"></i></a></button>
                </div>
            </div>
        </nav>#}


        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#" class="navigation__link"><span>01</span>About Us</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link"><span>02</span>Your benfits</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link"><span>03</span>Popular tours</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link"><span>04</span>Stories</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link"><span>05</span>Book now</a></li>
            </ul>
        </nav>


</header>
