<header>
    <div class="container">
        <div class="logo">
            <a href="{{ path('home') }}"><img src="{{ asset('build/images/logos/LogoTop5Orange.png') }}" alt="logo"/></a>
        </div>

        <div class = "nav">
            <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa-solid fa-xmark"></i></a>
                <div class="overlay-content">
                    <div class="nav-links">
                        <a class="nav-link active" href="{{ path('home') }}" onclick="closeNav()">Accueil</a>
                        <a class="nav-link active" href="{{ path('front_tops_index') }}" onclick="closeNav()">Tous les Tops</a>
                        <a class="nav-link" href="{{ path('front_index_categories') }}" onclick="closeNav()">Les catégories</a>
                        <a href="#" onclick="closeNav()">FAQ</a>
                        <a href="#" onclick="closeNav()">Contact</a>
                    </div>
                    <div class="cordonav">
                        <ul>
                            <li><a>TOP 5</a></li>
                            <li><a href="mailto:pierreetleroux@gmail.com">Contacter Top 5</a></li>
                            <li>
                                <a href="https://twitter.com/PIERREetLEROUX"><i class="fab fa-twitter-square"></i></a>
                                <a href="https://www.instagram.com/russus/"><i class="fab fa-instagram-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="logonavblock">
                    <div class="nav-logo"><img src="{{ asset('build/images/logos/LogoTop5Orange.png') }}" alt="logo"></div>
                </div>
            </div>

            <div class="menu-nav">
                <a class="menu-btn add" href="{{ path('front_tops_create') }}"><i class="fa-solid fa-plus"></i></a>
                {% if app.user %}
                    <a class="menu-btn menu avatar" href="#"><img src="/uploads/{{ app.user.avatar }}"></a>
{#                    <a class="menu-btn menu avatar" href="{{ path('app_user') }}"><img src="/uploads/{{ app.user.avatar }}"></a>#}

                {% else %}
                    <a class="menu-btn log" href="{{ path('app_login') }}"><i class="fa-solid fa-circle-user"></i></a>
                {% endif %}

                <a class="menu-btn menu" onclick="openNav()"><i class="fa-solid fa-bars"></i></a>
            </div>
        </div>


    </div>
</header>
